@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nsy4c8');
  src:  url('fonts/icomoon.eot?nsy4c8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nsy4c8') format('truetype'),
    url('fonts/icomoon.woff?nsy4c8') format('woff'),
    url('fonts/icomoon.svg?nsy4c8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-twitter:before {
  content: "\61";
}
.icon-social-facebook:before {
  content: "\62";
}
.icon-expand_more:before {
  content: "\63";
}
.icon-play_arrow:before {
  content: "\64";
}
.icon-search:before {
  content: "\65";
}
.icon-share:before {
  content: "\66";
}
.icon-twitter:before {
  content: "\67";
}
.icon-facebook:before {
  content: "\68";
}
.icon-facebook-f:before {
  content: "\68";
}
.icon-youtube-play:before {
  content: "\69";
}
.icon-instagram:before {
  content: "\6a";
}

